.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row-news{
  display: flex;
  background-color: #f6f8f0;
  margin-left: 8px;
    margin-right: 8px;
    height: 40px;
    align-items: center;
}
.news-main{
  height: 100%;
  border: 9px solid black;
  border-bottom: none;
}
.row-news-odd {
  display: flex;
  background-color: #e6e6e0;
  margin-left: 8px;
    margin-right: 8px;
    height: 40px;
    align-items: center;
}

.news-details{
  padding-left: 0px !important;
}

.header-main{
  height: 45px;
    align-items: center;
    background-color: #e45426;
    font-weight: 700;
}

.devider{
  border-top: 5px solid #e45426;
  margin-top: 42px;
}
.vd-devider{
  border-left: 3px solid #e45426;
}
.chart-contaner{
  height: 70px;
}

.prev-button{
  color: #e45426;
  padding: 8px;
  font-weight: 500;
  font-size: x-small;
}
.button-contaner{
  padding: 5px;
  float: right;
}
.news-title{
  display: flex;
}

.details{
  display: flex;
  padding-left: 5px;
    font-weight: 500;
    font-size: x-small;
    margin-top: 5px;
    display: flex;
}

.detail-url{
  padding-left: 5px;
  color: gray;
}
.detail-author{
  padding-left: 5px;
}
.detail-time{
  padding-left: 5px;
  color: gray;
}
.detail-hide{
  padding-left: 5px;
}

.detail-url a{
  color: gray;
}